@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Arial", sans-serif;
    background-color: theme("colors.lightGray");
    overflow-x: hidden;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
  }
}
