@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

.red-button {
  @apply bg-primary text-white hover:bg-red-700;
}

.green-button {
  @apply bg-custom-green text-white w-full hover:bg-green-700;
}

.white-button {
  @apply hover:bg-gray-200 border-custom-green border-2 w-full;
}

.text-button {
  @apply text-sm text-red-500 font-semibold underline;
}
